@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/navbar.css");
@import url("components/projects-img-grid.css");
@import url("components/sidebar.css");
@import url("components/social-icon.css");

/* Responsive layout behavior */

@media only screen and (max-width: 768px) {
  #content{
    margin-left: 0px;
  }
  .card, .card-top, .card-container {
    width: 80vw;
  }
  #movies, #music, #projects{
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  #sidebar {
    display: none;
  }
}

/* Colors and Fonts */

body{
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  #ffffff;
  font-size: 15px;
  line-height: 1.6em;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

h1 {
  color: #ffffff;
  font-size: 22px;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

h3 {
  font-size: 16px;
  font-weight: 300;
}

p{
  text-align: justify;
}

a{
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
}

a:hover{
  color: #84B0C4;
  text-decoration: none;
}

/* General behaviour */

.text-center{
  text-align: center;
}
.list-inline {
  padding-left: 0;
}
.list-inline li {
  display: inline-block;
  padding: 20px;
}
.list-inline li i{
  font-size: 25px;
}

/* Specific movies & music rules */

#movies, #music, #projects{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

.embed-spotify-playlist{
  height: 90px;
  width: 100%;
}
