@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/projects-img-grid.css");
@import url("components/sidebar.css");

/* Responsive layout behavior */

@media screen and (max-width: 900px) {
  #content{
    margin-left: 0px;
  }
  #sidebar {
    display: none;
  }
  .card, .music-container {
    width: 70vw;
  }
}

/* Colors and Fonts */

body{
  background: linear-gradient(135deg, #24363C 15%, #46ACC2 85%, #42F2F7);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #7d7d7d;
}

h1 {
  color: #84B0C4;
  font-size: 22px;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

h3 {
  font-size: 16px;
  font-weight: 300;
}

p{
  text-align: justify;
}

a{
  color: #ccc;
  text-decoration: none;
}

a:hover{
  color: #84B0C4;
  text-decoration: none;
}

/* General behaviour */

.text-center{
  text-align: center;
}
.list-inline {
  padding-left: 0;
}
.list-inline li {
  display: inline-block;
  padding: 20px;
}
.list-inline li i{
  font-size: 25px;
}

/* Specific movies & music rules */

#movies, #music, #projects{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

#movies img, #music img, #projects img, .music-img{
  width: 80px;
}

#movies td, #music td, #projects td{
  padding: 10px;
}

.embed-spotify-playlist{
  height: 80px;
  width: 30vw;
}

a.link_music_movie, a.link_music_movie:hover{
  color: #7d7d7d;
  font-weight: 400;
}

a.link_music_movie:hover{
  color: #84B0C4;
}
