.contact-text {
  font-weight: bold;
  padding-top: 30px;
}

.card-top {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: transparent;
}

.card-bottom {
  margin-bottom: 100px;
  margin-top: 10px;
  background-color: #204B93;
}

.card {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #204B93;
}

.card, .card-bottom {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.card a, .card-top a, .card-bottom a {
  color: #ffffff;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.card-column {
  flex-direction: column
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 90px;
}

.card-projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .card-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.projects-img {
  width: 300px;
  height: 300px;
  margin: 10px;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.projects-img:hover {
  -moz-transform: scale(1.02,1.02);
  -webkit-transform: scale(1.02,1.02);
  transform: scale(1.02,1.02);
}

.projects-description-img {
  width: 300px;
  height: 300px;
  margin: 10px;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.projects-description-img:hover {
  -moz-transform: scale(1.02,1.02);
  -webkit-transform: scale(1.02,1.02);
  transform: scale(1.02,1.02);
}

.projects-description-text {
  color: #204B93;
  margin: 50px;
  flex: initial;
  width: 400px;
}

@media only screen and (max-width: 768px) {
  .projects-description-text {
    width: 300px;
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  font-weight: bold;

  background-color: rgba(248, 247, 216, 0.0);
  color: rgba(32,75,147,0.0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 300ms ease-in;
  -ms-transition: background-color 300ms ease-in;
  transition: background-color 300ms ease-in;
}

.overlay:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(32,75,147,1);
  -webkit-transition: color 300ms ease-in;
  -ms-transition: color 300ms ease-in;
  transition: color 300ms ease-in;

}

.projects-cubelight-1 {
  background-image: url("../../images/cubelight/cubelight-1.jpg") ;
}

.projects-cubelight-2 {
  background-image: url("../../images/cubelight/cubelight-2.jpg");
}

.projects-cubelight-3 {
  background-image: url("../../images/cubelight/cubelight-3.jpg") ;
}

.projects-cubelight-2-background {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.7) 20%, rgba(0,0,0,0.0) 50%), url("../../images/cubelight/cubelight-2.jpg");
}

.projects-lumni-1 {
  background-image: url("../../images/lumni/lumni-1-smaller.jpg") ;
}

.projects-lumni-2 {
  background-image: url("../../images/lumni/lumni-2-smaller.jpg") ;
}

.projects-lumni-3 {
  background-image: url("../../images/lumni/lumni-3-smaller.jpg") ;
}

.projects-lumni-background {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.7) 20%, rgba(0,0,0,0.0) 50%), url("../../images/lumni/lumni-3.jpg") ;
}

.projects-aztec-1 {
  background-image: url("../../images/aztec/aztec-1.jpg") ;
}

.projects-aztec-2 {
  background-image: url("../../images/aztec/aztec-2.jpg") ;
}

.projects-aztec-3 {
  background-image: url("../../images/aztec/aztec-3.jpg") ;
}

.projects-aztec-4 {
  background-image: url("../../images/aztec/aztec-4.jpg") ;
}

.projects-aztec-5 {
  background-image: url("../../images/aztec/aztec-5.jpg") ;
}

.projects-aztec-background {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.0) 60%), url("../../images/aztec/aztec-5.jpg");
}

.projects-display-1 {
  background-image: url("../../images/smart-window-display/smart-window-display-1.jpg") ;
}

.projects-display-2 {
  background-image: url("../../images/smart-window-display/smart-window-display-2.jpeg") ;
  background-size: contain;
  background-repeat: no-repeat;
}

.projects-display-background {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.0) 60%), url("../../images/smart-window-display/smart-window-display-1.jpg");
}

.projects-filler {
  background-image: url("https://source.unsplash.com/1600x900/?red");
}

.container h1 {
  color: #204B93;
}
