.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-top {
  margin-top: 50px;
  margin-bottom: 20px;
}

.card-bottom {
  margin-bottom: 100px;
  margin-top: 10px;
}

.card {
  margin-bottom: 10px;
  margin-top: 10px;
}

.card, .card-top, .card-bottom {
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  background-color: #204B93;
}

.card a, .card-top a, .card-bottom a {
  color: #ffffff;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 90px;
}
