.contact-text {
  font-weight: bold;
  padding-top: 30px;
}

.card-top {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: transparent;
}

.card-bottom {
  margin-bottom: 100px;
  margin-top: 10px;
  background-color: #204B93;
}

.card {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #204B93;
}

.card, .card-bottom {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.card a, .card-top a, .card-bottom a {
  color: #ffffff;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.card-column {
  flex-direction: column
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 90px;
}

.card-projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .card-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.projects-img img {
  margin: 10px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.container h1 {
  color: #204B93;;
}
