/*Image grid*/

/*.image-grid div {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 4px;
  margin: 3px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
}

.lumni-01 { background-image: url('../../images/lumni/lumni-1.jpg'); }
.lumni-02 { background-image: url('../../images/lumni/lumni-2.jpg'); }
.lumni-03 { background-image: url('../../images/lumni/lumni-3.jpg'); }

.cubelight-01 { background-image: url('../../images/cubelight/cubelight-2.jpg'); }
.cubelight-02 { background-image: url('../../images/cubelight/cubelight-1.jpg'); }
.cubelight-03 { background-image: url('../../images/cubelight/cubelight-3.jpg'); }

@media screen and (max-width: 400px) {
  .image-grid {
    flex-direction: column;
    flex-wrap: no-wrap;
  }
  .image-grid div { width: 100%; }
}*/
